body {
  margin: 0;
  background: #111827;
  color: white;
  font-family: arial, sans-serif;
}

.app {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-grid {
  display: grid;
  gap: 20px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
}
